.graph {
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
}

.graph :global(svg) {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

.graph :global(text) {
  fill: rgb(215, 121, 7);
  user-select: none;
  pointer-events: none;
}
